.jumbotron {
    background-color: darkred;
    color: blanchedalmond;
    margin-top: 56px;
}
.breadcrumb{
    background-color: rgb(235, 235, 235);
}
.container {
    display: flex;
    flex-flow: column;
    width: 100%;
}
.col-tarjeta {
    display: flex;
    flex-flow: column;
    flex: 1 220px;
    margin: 5px 5px 5px 5px;
    justify-content: space-between;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
}
.btn {
    background-color: darkred;
    color: blanchedalmond;
}
footer {
    padding: 20px 10px 10px 10px;
    background-color: darkred;
    margin-bottom: 0px;
    margin-top: 45px;
    color: blanchedalmond;
}
.foot {
    text-align: center;
    color: blanchedalmond;
}

.table {
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
}
.header-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}
.wrapper{
    position: relative;
}
.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-weight: bold;
}
.carousel{
    width: 60%;
}
.carousel-caption {
    background-color: rgba(105, 105, 105, 0.295)
}

