.jumbotron {
  background-color: #6e0700;
  color: #fff2d5;
  margin-top: 56px;
  margin-bottom: 0px;
}
.breadcrumb {
  background-color: #ebebeb;
}
.container {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.col-tarjeta {
  display: flex;
  flex-flow: column;
  flex: 1 220px;
  margin: 5px 5px 5px 5px;
  justify-content: space-between;
  background-color: #ebebeb;
  border-radius: 10px;
}
.btn {
  background-color: #6e0700;
  color: #fff2d5;
}
footer {
  padding: 20px 10px 10px 10px;
  background-color: #6e0700;
  margin-top: 45px;
  margin-bottom: 0px;
  color: #fff2d5;
}
.foot {
  text-align: center;
  color: #fff2d5;
}
.table {
  background-color: #ebebeb;
  border-radius: 10px;
}
.header-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 2em;
}
.wrapper {
  position: relative;
}
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-weight: bold;
}
.carousel {
  width: 60%;
}
.carousel-caption {
  background-color: rgba(105, 105, 105, 0.295);
}
